{% extends 'layout.html' %}
{% block content %}
<div class="mt-4">
<i>
    <h1>AdminTrack</h1>
    <p>
        Welcome to the Admin School Management System.Our aystem is designed to streamline adminstrative tasks in education
        institutions. With our user-friendly interface, you can manage students, employees, attendance and more.
    </P>
    <p>
        We are committed to providing efficient tools for educational institutions to simplify their operations and focus on what matters most: education
    </p>
</i>
</div>
{% endblock %}