{% extends 'layout.html' %}
{% block content %}
<section id="about" class="about">
    <div class="container row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="section-title">
          <br>
          <h3><strong>About Us</strong></h3>
          <p>Welcome to AdminTrack School Management System!</p>
        </div>
  
        <div class="row content">
          <div class="col-lg-12">
            <p>
              At AdminTrack School Management System, we are dedicated to simplifying the complex processes involved in managing educational institutions. Our comprehensive management system is designed to streamline administrative tasks, enhance communication, and facilitate a conducive learning environment for students, teachers, and staff.
              <br>
              <h4><strong>Our Story</strong></h4>
              AdminTrack School Management System was established with a vision to revolutionize school management practices by leveraging the power of technology. Our team of dedicated professionals, with extensive experience in both education and technology, recognized the need for an integrated platform that could efficiently handle various aspects of school administration.
              <br>
              <br>
              <h4><strong>Our Mission</strong></h4>
              Our mission is to empower educational institutions with a user-friendly and robust management system that optimizes efficiency, enhances communication, and promotes a seamless learning experience for all stakeholders. We aim to foster a collaborative and dynamic environment where administrators, teachers, and students can thrive.
              <br>
              <br>
              <h4>Developer's Info</h4>
              <h6>Github links</h6>
              <ul>
                <li><a href="https://github.com/millywanderi"></a>Dev 1</li>
                <li><a href="https://github.com/reggyshicky"></a>Dev 2</li>
              </ul>
              <h6>Twitter links</h6>
              <ul>
                <li><a href="https://twitter.com/Millywanderi5"></a>Dev 1</li>
                <li><a href="https://twitter.com/Reggyshikanda"></a>Dev 2</li>
              </ul>
              <h6>LinkedIn links</h6>
              <ul>
                <li><a href="https://www.linkedin.com/in/millicent-wanderi-9aa894206/"></a>Dev 1</li>
                <li><a href="https://www.linkedin.com/in/reginah-shikanda-5b0268202/"></a>Dev 2</li>
              </ul>
              <br>
              <br>
              <i>Thank you for choosing AdminTrack School Management System to simplify your school management tasks and contribute to a more efficient and effective educational ecosystem.</i>
              </p>
              
          </div>
        </div>
      
      </div>
      
      <div class="col-md-2"></div>

      

    </div>
  </section>
{% endblock %}