{% extends 'layout.html' %}

{% block content %}
<div class="contact-container">
    <h2 class="contact-heading">Contact Us</h2>
    <div class="contact-info">
        <p>If you have any questions, concerns, or feedback, please feel free to contact us using the information below:</p>
        <ul class="contact-list">
            <li class="contact-item">
                <span class="contact-label">Email 1:</span> millicentwanderi@gmail.com
            </li>
            <li class="contact-item">
                <span class="contact-label">Email 2:</span> reginahshikanda@gmail.com
            </li>
            <li class="contact-item">
                <span class="contact-label">Phone No 1:</span> 254713196499
            </li>
            <li class="contact-item">
                <span class="contact-label">Phone No 2:</span> 254791869807
            </li>
            <li class="contact-item">
                <span class="contact-label">Address:</span> 123 Main Street, Nairobi, Kenya
            </li>
            <li class="contact-item">
                <a class="twitter-link" href="https://twitter.com/Reggyshikanda">@Twitter</a>
            </li>
        </ul>
    </div>
</div>

<style>
    /* CSS for styling the contact container */
    .contact-container {
        background-color: #f7f7f7;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

    /* CSS for the contact heading */
    .contact-heading {
        font-size: 24px;
        color: #333;
    }

    /* CSS for styling the contact list */
    .contact-list {
        list-style-type: none;
        padding: 0;
    }

    /* CSS for styling individual contact items */
    .contact-item {
        margin-bottom: 10px;
        font-size: 18px;
    }

    /* CSS for styling contact labels and the Twitter link */
    .contact-label {
        font-weight: bold;
        color: #0074d9; /* Twitter blue color */
    }

    .twitter-link {
        text-decoration: none;
        color: #0074d9;
    }
</style>
{% endblock %}