{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AdminTrack</title>
        <link href={% static 'css/bootstrap.min.css' %} rel='stylesheet'>
	</head>
	<body>
        <h1>Welcome to AdminTrack</h1>
        <section>
            <div class="container">
                {% block Homepage %}
                {% endblock %}
                {% block Student %}
                {% endblock %}
                {% block Teacher %}
                {% endblock %}
                {% block Employee %}
                {% endblock %}
                {% block Attendance %}
                {% endblock %}
                {% block Book %}
                {% endblock %}
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>