{% extends "layout.html" %}
{% block content %}
    <h3 class="text-center"><i>Add Employee</i></h3>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i>Employee Registration
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Add Employee</button>
                            <a href="{% url 'view_employees' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
