{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            {% if students %}
            <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-list fa-lg"></i>Student Records
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <a href="{% url 'add_student' %}" class="btn btn-primary">
                            <i class="bi bi-person-plus"></i>Add Student</a>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Date Of Birth</th>
                                        <th scope="col">Year Of Study</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ student.firstName }}</td>
                                        <td>{{ student.lastName }}</td>
                                        <td>{{ student.dateOfBirth }}</td>
                                        <td>{{ student.yearOfStudy }}</td>
                                        <td>
                                            <button type="button" class="btn btn-success me-1" data-bs-toggle="modal" data-bs-target="#myModal{{ student.id }}">
                                                <i class="fa-solid fa-circle-info fa-lg"></i>
                                            </button>
                                            <a class="btn btn-warning me-1" href="{% url 'edit_student' student.id %}">
                                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                            </a>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{ student.id }}">
                                                <i class="fa-solid fa-trash-can fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </p>
                </div>
            </div>
            {% for student in students %}
            <div class="modal" id="myModal{{ student.id }}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel{{ student.id }}">
                                Student: {{ student.firstName }} {{ student.lastName }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li>First Name: <strong>{{ student.firstName }}</strong></li>
                                <li>Last Name: <strong>{{ student.lastName }}</strong></li>
                                <li>Date Of Birth: <strong>{{ student.dateOfBirth }}</strong></li>
                                <li>Year Of Study: <strong>{{ student.get_yearOfStudy_display }}</strong></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="delete{{ student.id }}" tabindex="-1" aria-labelledby="deleteLabel{{ student.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteLabel{{ student.id }}">
                                Student: {{ student.firstName }} {{ student.lastName }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the student?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'delete_student' student.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}                        
            
