{% extends "layout.html" %}
{% block content %}
<section id="key-features" class="text-center">
    <h2>Key Features</h2>
    <div class="feature">
        <img src="media/images/Login.png" alt="Feature 1" class="feature-image">
        <h3>Feature 1: User Authentication</h3>
        <p>Secure and user-friendly authentication system that allows users to log in, and manage their accounts with ease.</p>
    </div>
    <div class="feature">
        <img src="media/images/About.jpg" alt="Feature 2" class="feature-image">
        <h3>Feature 2: About</h3>
        <p>Get to know information about AdminTrack</p>
    </div>
    <div class="feature">
        <img src="media/images/Dashboard.png" alt="Feature 3" class="feature-image">
        <h3>Feature 3: Dashboard</h3>
        <p>Effortlessly manoeuvre through core project functionalities.</p>
    </div>
</section>
<style>
    .feature-image {
        max-width: 30%;
        height: 50%;
    }
</style>

{% endblock %}