{% extends "layout.html" %}
{% block content %}

    <div class="text-center my-5">
        <h1 class="school-name"><span>AdminTrack School Management System</span></h1>
        <i><p class="lead">Administering Education, Effortlessly</p></i>
    </div>

    <div class="image-container">
        <img src="media/images/School-admin.jpg" alt="School Image" class="school-image">
    </div>
    <br>
    <div class="project-info">
        <h3>Project Information</h3>
        <p>Welcome to the AdminTrack School Management System. This system is designed to streamline school administration and management, making education more efficient and accessible. Explore our innovative features, and discover how we're transforming education.</p>
    </div>

    <div class="developer-story">
        <h3>About the Developer</h3>
        <p>Hi, We are Reginah and Millicent, the developers behind AdminTrack. We are passionate about coding and creating solutions that make a difference. AdminTrack is a result of that passion. Learn more about our journey and the inspiration behind this project.</p>
    </div>

    <div class="cta-buttons">
        <a href="https://your-deployed-app-link.com" class="btn btn-primary">Explore the App</a>
        <a href="https://github.com/reggyshicky/AdminTrack" class="btn btn-primary">Visit GitHub</a>
    </div>
    <style>
        body {
            background-color: #cfe2f3; 
            margin: 0;
        }
        .school-name {
            font-size: 30px;
            color: #0074d9; /* Blue color for school name */
        }

        .lead {
            font-size: 20px;
            color: #555; /* Slightly muted text color */
        }

        .image-container {
            text-align: center;
            margin-top: 30px;
        }

        .school-image {
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}
